[submodule "python-gnureadline"]
	path = python-gnureadline
	url = git://github.com/ludwigschwardt/python-gnureadline.git
[submodule "multibuild"]
	path = multibuild
	url = https://github.com/matthew-brett/multibuild.git
